.canvas-container {
display: flex;
justify-content: center;
align-items: center;
flex: 1;
height: 100vh;
padding-top: 64px;
}

.scroll-to-top{
  position: absolute;
  top: 190vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .canvas-container{
    height: 100vh;
    width: 100%;
    padding-top: 0px;
  }
}


