.canvas-container {
display: flex;
justify-content: center;
align-items: center;
flex: 1;
height: 100vh;
background-color: green;
}

@media (max-width: 900px) {
  .canvas-container{
    height: 100vh;
    width: 100%
  }
}
