:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.app {
  min-height: 100vh;
  background-size: "cover";
  background-repeat: "no-repeat";
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .app{
    min-height: 200vh;
    flex-direction: column;
  }
}