.inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  padding-top: 64px;
  z-index: 10;
  }

  @media (max-width: 900px) {
    .inputs-container{
      height: 100vh;
      width: 100%
    }
  }
  @media (max-width: 600px) {
    .inputs-container{
      padding-top: 54px;
    }
  }
  