.modal-content{
  display: flex;
}

.left-side {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.right-side{
  flex: 1
}

@media (max-width: 900px) {
  .modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .left-side {
    flex: 2;
  }
  .right-side {
    flex: 3;
  }
}